/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


.parallax {
    background-attachment: fixed;
    /*Give the background a fixed position does it not scroll when you scroll*/
    background-size: cover;
    /*Have the background cover the entire div section*/
    color: white;
    /*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
    padding: 100px;
}


/* About page
------------------------- */
.image-about {
    display: inline-block;
    float: left;
    position: relative;
    width: 33%;
}

.intro {
    position: relative;
    width: 33%;
}

.skill {
    position: relative;
    width: 33%;
}

#about{
    background-image: url("/Users/jonathanmariano/Documents/Website_Example/msh3.png");
    /*Add a background image*/
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 10em;
    border-bottom: 1em;
    height: 75em;
}



/* Contact page
-------------------------------------------------- */

.container-contact {
    width: 80%;
    height: 80%;
    margin: 0 auto auto auto;
    background-color: #fffeea;
    color: black;
}

.contact-content {
    width: 600px;  
  max-width: 90%;
}

.profiles {
    position: relative;
}

.email {
    font-size: 30px
}

.more {
    padding-bottom: 0.5em;
    position: relative;
}

#contact{
    background-image: url("/Users/jonathanmariano/Documents/Website_Example/msh3.png");
    /*Add a background image*/
    padding: 100px;
    padding-top: 50px;
}

.glyphicon a:hover{
    color: red;
    transition: color 600ms;
    text-decoration: none;
}

.links {
    padding-right: 1em;
}

.form-control {
    width: 80%;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}